html
  head
    title
        |AIA File Manipulator - Logout
    link(rel='stylesheet', href='/public/ai_styles.css', type='text/css')
    script(src='/public/ai_manipulator_client.js')

  body
    div.topbanner
        |&nbsp;
        span.appname
            |AIA Manipulator
    div(style='position:relative')
        |Successfully logged out.
        br
        br
        a(href='/')
            |Login
