.topbanner {
    background-color: lightblue;
    line-height: 3em;
}

span.appname {
    font-size: 20pt;
}
span.user {
    color: blue;
    float: right;
}

.uploadInput {
    position: fixed;
    top: -1000px;
}
.uploadSubmit {
    position: fixed;
    top: -1000px;
}
.uploadLabel {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
}
.uploadLabel:hover {
    background: #CCC;
}

.aiaContent {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
}
.aiaContentRow {
    vertical-align: top;
}
.aiaContentHr {
    border: 1px solid black;
    white-space: nowrap;
}
.aiaContentTd {
    border: 1px solid black;
    white-space: nowrap;
    padding: 7px;
}
.aiaContentForm {
    height: 5px;
}

.fullPage {
    position: relative;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 5em;
    background-color: rgba(0,0,0,0.2); /*dim the background*/
}
.overlayContent {
    border: 4px outset gray;
    padding: 1em;
    padding-left: 0px;
    max-width: 400px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

.overlayIcon {
    vertical-align: middle;
    overflow: hidden;
    margin-right: 10px;
}
.overlayButtonSection {
    text-align: center;
    padding-top: 20px;
}
